.card-body {
  padding: 0px;
  width: 100%;
}
.card-img-top {
  width: 100%;
  height: auto;
  padding: 5px;
}
.card {
  width: 20vw;
  height: 25vw;
  max-width: 140px;
  max-height: 180px;
  min-height: 110px;
  margin: 1%;
}
.flipped {
  background-color: black;
  color: #ffffff88;
}
.flipped img {
  opacity: 0;
}
.flipped:hover {
  color: #ffffff;
}
.flipped:hover img {
  opacity: 1;
}
