.card-body {
  padding: 0px;
  width: 100%;
}
.card-img-top {
  width: 100%;
  height: auto;
  padding: 5px;
}
.card {
  width: 140px;
  height: 175px;
  margin: 10px;
}
.flipped {
  background-color: black;
  color: #ffffff88;
}
.flipped img {
  opacity: 0;
}
.flipped:hover {
  color: #ffffff;
}
.flipped:hover img {
  opacity: 1;
}
@media screen and (max-width: 450px) {
  .card-body {
    font-size: 0.7em;
  }
  .card {
    width: 80px;
    height: 100px;
    margin: 2px;
  }
  .card-img-top {
    width: 100%;
    height: auto;
    padding: 2px;
  }
}
