.App {
  text-align: center;
  height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 450px) {
  .App {
    font-size: 0.8em;
  }
  .bottom-part p {
    margin: 0;
  }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  width: 100vw;
  margin: auto;
  height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.bottom-part {
  margin: 15px;
  display: flex;
  /* flex-direction: column; */
  align-items: baseline;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 90px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
